<server description="shared-calendar">

    <featureManager>
        <feature>webProfile-10.0</feature>
    </featureManager>

    <variable name="PORT" defaultValue="9080"/>
    <variable name="COOKIE_SECURE" defaultValue="false"/>

    <variable name="PGHOST" defaultValue="localhost"/>
    <variable name="PGPORT" defaultValue="5432"/>
    <variable name="PGDATABASE" defaultValue="calendar"/>
    <variable name="PGUSER" defaultValue="calendar"/>
    <variable name="PGPASSWORD" defaultValue="calendar"/>

    <httpEndpoint id="defaultHttpEndpoint"
                  host="*"
                  httpPort="${PORT}"/>

    <httpSession cookieHttpOnly="true"
                 cookieSecure="${COOKIE_SECURE}"
                 cookieSameSite="Lax"
                 urlRewritingEnabled="false"/>

    <library id="postgresqlDriver">
        <fileset dir="${server.config.dir}/resources"
                 includes="postgresql-*.jar"/>
    </library>

    <dataSource id="CalendarDS" jndiName="jdbc/CalendarDS">
        <jdbcDriver libraryRef="postgresqlDriver"/>
        <properties.postgresql serverName="${PGHOST}"
                               portNumber="${PGPORT}"
                               databaseName="${PGDATABASE}"
                               user="${PGUSER}"
                               password="${PGPASSWORD}"/>
    </dataSource>

    <webApplication location="shared-calendar.war"
                    contextRoot="/"/>

</server>
